@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.pagination {
  @include margin-top(2);
  display: flex;

  > div a {
    background: linear-gradient(120deg, $color-secondary -25%, $color-primary 55%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__prev {
    width: 50%;
    text-align: left;

    &-link {
      font-size: 26px;
      font-weight: bold;

      &:hover,
      &:focus {
        opacity: 0.8;
      }

      &--disable {
        display: none;
      }

    }

  }

  &__next {
    width: 50%;
    text-align: right;

    &-link {
      font-size: 26px;
      font-weight: bold;

      &:hover,
      &:focus {
        opacity: 0.8;
      }

      &--disable {
        display: none;
      }

    }

  }

}